body {
  background-color: #2a2929;
}

.wrapper {
  width: 1460px;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
}

.logo-site {
  margin-top: 46px;
}

.button {
  border: 1px solid #e4b564;
  margin-top: 37px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.back-call {
  width: 218px;
  height: 50px;
  background-color: #171717;
}

.back-call-text {
  color: #e4b564;
  font-family: "Circe";
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
}

.heading-external-heating-networks {
  margin-top: 128px;
}

.heading-heating-networks {
  color: #ffffff;
  width: 610px;
  height: 28px;
  font-family: "Gilam";
  font-weight: 700;
  font-size: 50px;
  line-height: 28px;
}

.description {
  color: #ffffff;
  width: 1182px;
  height: 56px;
  font-family: "Gilam";
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  margin-top: 41px;
}

.block-heating-networks {
  margin-top: 41px;
  height: 963px;
  display: grid;
  grid-template-columns: repeat(6, 1.5fr);
  grid-template-rows: repeat(2, 1.5fr);
  column-gap: 30px;
  row-gap: 27px;
}

.block-heating-networks div {
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: "Gilam";
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
}

.header-equipment-park {
  margin-top: 161px;
}

.excavation {
  background-color: #634f2c;
  grid-column: span 2;
}

.pipelines {
  background-color: #b4a385;
  grid-column: span 2;
}

.channels {
  background-color: #e4b564;
  grid-column: span 2;
}

.prop {
  background-color: #635a4a;
  grid-column: span 3;
}

.wells {
  background-color: #b08c4d;
  grid-column: span 3;
}

.header-equipment-park {
  width: 990px;
  height: 28px;
  color: #ffffff;
  font-family: "Gilam";
  font-weight: 700;
  font-size: 50px;
  line-height: 28px;
}

.block-equiment-park {
  margin-top: 90px;
  height: 815px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(10, 1fr);
  column-gap: 30px;
  row-gap: 25px;
}

.block-equiment-park span {
  font-family: "Gilam";
  font-weight: 700;
}

.suction-machine {
  background-color: #0e0e0e;
  color: #ffffff;
  font-family: "Gilam";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  padding-left: 52px;
  padding-top: 44px;
  grid-row: span 4;
}

.sewer-washing-machine {
  background-color: #242424;
  color: #ffffff;
  font-family: "Gilam";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  padding-left: 51px;
  padding-top: 44px;
  grid-row: span 5;
}

.backhoe-loader {
  background-color: #1f1f1f;
  color: #ffffff;
  font-family: "Gilam";
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  padding-left: 48px;
  padding-top: 44px;
  grid-row: span 3;
}

.kamaz-onboard {
  background-color: #0e0e0e;
  color: #ffffff;
  font-family: "Gilam";
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  padding-left: 48px;
  padding-top: 44px;
  grid-row: span 4;
}

.loader {
  background-color: #1f1f1f;
  color: #ffffff;
  font-family: "Gilam";
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  padding-left: 52px;
  padding-top: 56px;
  grid-row: span 6;
  grid-column: 1;
}

.excavator {
  background-color: #e4b564;
  color: #000000;
  font-family: "Gilam";
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  padding-left: 52px;
  padding-top: 47px;
  grid-row: span 5;
  margin-bottom: 15px;
}

.rink {
  background-color: #0a0909;
  color: #ffffff;
  padding-left: 48px;
  padding-top: 44px;
  grid-row: span 3;
}

.clients-projects {
  margin-top: 161px;
  background-color: #171717;
  height: 1054px;
}

.wrapper{
  width: 1460px;
  margin: 0 auto;
}

.header-clients-projects {
  display: flex;
  justify-content: space-between;
}

.header-clients-projects-text {
  margin-top: 172px;
  width: 597px;
  height: 28px;
}

.header-text {
  color: #ffffff;
  font-family: "Gilam";
  font-weight: 700;
  font-size: 50px;
  line-height: 28px;
}

.btn {
  border: 1px solid #e4b564;
  width: 180px;
  height: 50px;
  margin-top: 161px;
}

.btn-text {
  color: #e4b564;
  background-color: #171717;
  font-family: "Circe";
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  width: 180px;
  height: 50px;
}

.logo-clients-projects {
  margin-top: 72px;
  height: 782px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.logo-clients-projects div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.eid-top, .eid-lower {
  background-color: #634f2c;
}

.mabnc {
  background-color: #cab48e;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.installation-work {
  font-family: "Gilam";
  font-weight: 600;
  font-size: 22px;
  line-height: 28px;
  color: #ffffff;
}

.address {
  font-family: "Gilam";
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  color: #ffffff;
}

.arsenal-top {
  background-color: #e4b564;
}

.arsenal-lower {
  background-color: #635a4a;
}

.set-group {
  background-color: #b08c4d;
}
